<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.system.SysUserDao">
    <resultMap id="userResultMap" type="com.demo.entity.system.SystemUser">
        <id property="id" column="userId"></id>
        <result property="userName" column="user_name"></result>
        <result property="account" column="account"></result>
        <collection property="listRole" ofType="com.demo.entity.system.SystemRole">
            <id property="id" column="roleId"></id>
            <result property="roleName" column="role_name"></result>
            <result property="roleNameZh" column="role_name_zh"></result>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        user.id as userId,user.user_name,user.account,role.id as roleId,role.role_name,role.role_name_zh
    </sql>

    <select id="getEntity" parameterType="java.lang.String" resultMap="userResultMap">
        select
        <include refid="Base_Column_List"></include>
        from system_user user
        join system_user_role userRole on userRole.user_id = user.id
        join system_role role on role.id = userRole.role_id
        where user.id = #{userId} and role.is_delete=0 and role.is_enabled='1'
    </select>

    <select id="getCheckedList" parameterType="java.util.Map" resultType="com.demo.entity.system.SystemUser">
        select user.id,user_name,account,user.is_enabled
        from system_user user
        join system_user_role userRole on user.id=userRole.user_id
        join system_role role on role.id=userRole.role_id
        where role.id = #{query.roleId}
        <if test="query.userName != null and query.userName != '' ">
            and user_name like "%"#{query.userName}"%"
        </if>
        <if test="query.account != null and query.account != '' ">
            and account like "%"#{query.account}"%"
        </if>
    </select>
</mapper>
