<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.system.SysUserRoleDao">

    <select id="getCheckedUserIds" parameterType="java.lang.String" resultType="java.lang.String">
        select user_id from system_user_role where role_id=#{roleId}
    </select>

    <delete id="batchDelete" parameterType="java.util.Map">
        delete from system_user_role
        where role_id = #{roleId} and user_id in
        <foreach collection="listUserId" index="index" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>
